:root{
    --white: #fff;
    --black: #000;
   --orange: #F7941D;
   --green: #00A651;
   --blue: #61ABFC;
   --light-text: #989898;
   --purple: #B068AA;
   --heading-text: #152f2e;
   --sky: #9fd9e7;
   --primary: #00b8ff;
}
